.nav {
  position: sticky;
  top: 0;
  background-color: var(--color--light);
  display: flex;
  padding: 1.5rem 1rem;
  gap: 1rem;
  transition-property: padding box-shadow;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.scrolled {
  box-shadow: 0 1px 1px 1px var(--color-accent);
  padding: 1rem 1rem;
}
